.payment-div {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.payment-h {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  text-align: center;

  /* Light / blue-gray / 800 */

  color: #1e293b;
}
.payment-h2 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  text-align: center;

  /* Light / blue-gray / 500 */

  color: #64748b;
}
.payment-btn {
  width: 131px;
  height: 32px;

  background: #f7931e;
  border-radius: 8px;
  border: 0px;
  -family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  /* Light / base / white */

  color: #ffffff;
  margin-top: 40px;
}
