.counter-div {
  align-self: flex-start;
  display: flex;
  align-items: center;
  height: 25px;
  margin-left: 20px;
}
.counter-btn {
  color: #3e4c59;
  font-size: 18px;
  background-color: transparent;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #3e4c59;
  border-radius: 3px;
}
.counter-num {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-right: 7px;
  margin-left: 7px;

  color: #475569;
}
.add-qu-div {
  display: flex;
}
